body{
    font-family: Arial;
    background-color: #00FF7F;
}
#header{
    background-color: #00FF7F
}
#container{
    background-color: #00FF7F;
}
#main{
    background-color: #00FF7F;
}
#content{
    background-color: #00FF7F;
}