body {
	background-color: #333333;
	font-family: 'Ubuntu', serif;
}
p {
	font-family: "Verdana", Geneva, sans-serif;
	text-align: center;
	color: #DDDDDD;
}
h2 {
	font-family: "Verdana", Geneva, sans-serif;
	text-align: center;
	color: #DDDDDD;
}
h5 {
	font-family: "Verdana", Geneva, sans-serif;
	text-align: center;
	color: #DDDDDD;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #7289D9;
}
.active {
    background-color: #7289D9;
}
.normal {
	display: block;
	list-style-type: disc;
	margin-top: 1em;
	margin-bottom: 1 em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
}
a:link{
	color: white;
}
a:visited {
    color: white;
}