body {
	background-color: #333;
	font-family: Verdana, Geneva, sans-serif;
}

#header {
    background-color: #7289D9;
}

#container {
    background-color: #333;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #DDD;
}

p, h1, h2, h5 {
	color: #DDD;
}

#container ul {
    background-color: #333;
    color: #DDD;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    background-color: #333;
    top: 0;
    width: 100%;
}

#container li {
    color: #DDD;
}

#header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#header li a:hover {
    background-color: #7289D9;
}

#images a img {
    text-decoration: none;
}

.active {
    background-color: #7289D9;
}

a:link {
	color: white;
}
a:visited {
    color: white;
}
